*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
.container{
    width: 100%;
    height: 100vh;
    padding: 0 5%;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    width: 100%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}
nav .logo{
    width: 50px;
}
nav ul{
    flex: 1;
    margin-left: 10%;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 5%;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    cursor: default;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #ff9606;
}
nav .btn{
    padding: 10px 30px;
    background: #ff9606;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    cursor: default;
    border-radius: 30px;
    transition: 0.5s;
}
nav .btn:hover{
    background: transparent;
}
.content{
    margin-top: 12%;
}
.content h1{
    font-size: 80px;
    color: #fff;
}
.content h1 span{
    color: #ff9606;
}
.content p{
    color: #fff;
    font-size: 15px;
    margin: 20px 0 0 0;
    line-height: 20px;
}
.content-btn{
    display: inline-block;
    padding: 15px 40px;
    background: #ff9606;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-top: 30px;
    transition: 0.5s;
    border: 2px solid #ff9606;
    cursor: default;
}
.content-btn:hover{
    background: transparent;
    border: 2px solid #fff;
}
.coin{
    position: absolute;
    right: 5%;
    bottom: 3%;
    display: flex;
}
.coin-box{
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-right: 25px;
    padding: 25px 35px;
    color: #fff;
    text-align: center;
}
.coin-box img{
    width: 35px;
    margin-right: 10px;
}
.coin-box h3{
    font-weight: 500;
    font-size: 18px;
}
.coin-box p{
    display: block;
    color: #ff9606;
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
}